* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid rgb(231, 231, 231);
    width: 60%;
    margin: auto;
    background-color: rgb(254, 247, 240);
}

.header {
    width: 100%;
    height: 80px;
    background-color: brown;
    color: white;
    text-align: center;
    padding-top: 30px;
}

.features {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
input[type=button] {
    width: 120px;
}

.list {
    height: auto;
    width: 100%;
}